.scroller {
    height: 70vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller section {
    min-height: 70vh;
    scroll-snap-align: start;
}

.scroller img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
